extends layout

block content
  h1= title
  p Welcome to UBER #{title}

  if uberprice
    ul
      li THIS #{uberprice.products[2].price_details.base + uberprice.products[2].price_details.cost_per_distance * google.routes[0].legs[0].distance.value/1609.344}
  else if google
    li #{google.routes[0].legs[0].distance.value/1609.344}